#ccard
{
    display: flex;
    width: 270px;
    height: 350px;
    background-color: #1e1e1e;
    border-radius: 20px 20px 20px 20px;
}

#profile
{   
    display: flex;;
    width: 270px;
    height: 120px;
}